@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font: normal 100%/1.3 'Ubuntu', sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  margin: 0;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

nav li {
  font: normal 100%/1.3 'Ubuntu', sans-serif;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
  text-align: left;
}

li a {
  color: #6c8fe0;
  text-decoration: none;
  display: block;
}

header {
  margin: 0;
  padding: 5px;
  background-color: #18294f;
  color: #fff;
}

header h1 {
  font-size: 2rem;
}

nav ul {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}

nav a {
  padding: .5rem;
  white-space: nowrap;
}

nav a:hover {
  background-color: #6c8fe0;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;

  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

  nav li {
    float: left;
    overflow: hidden;
    width: 50%;
  }

  header {
    overflow: hidden;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  nav li {
    width: 25%;
    float: right;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
    float: left;
  }

  nav li {
    float: right;
    display: inline-block;
    width: auto;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
